<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="loginForm">
    
    <div>
      <ion-text class="alert">{{alert}}</ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-button color="light" expand="full" (click)="login(loginForm)"
      [disabled]="loginForm.invalid">
      Login 
      <span *ngIf="click">
        <ion-spinner name="circles"></ion-spinner>
      </span>
    </ion-button>
  </form>

</ion-content>
