<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="name">Order</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-searchbar
    (input)="search($event)"
    (change)="addressCheck($event)"
    [value]="selectedAddress"
    placeholder="Enter Your Full Address"
  >
  </ion-searchbar>

  <ion-item
    *ngFor="let address of addresses ; let i=index"
    (click)="onSelect(address, i)"
  >
    {{ address}}
  </ion-item>

  <div class="map-section">
    <div id="map" style="width: 100%; height: 100%"></div>
  </div>

  <div>
    <ion-button color="tertiary" expand="block" (click)="presentAlertPrompt()">
      <ion-icon name="card-outline"></ion-icon>Place Order
    </ion-button>
  </div>
</ion-content>
