<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Items</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home/cart">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge>{{cartService.getCartCount()}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sideway-scroll">
    <div class="cat">
      <ion-button shape="round" color="light">
        All
      </ion-button>
    </div>

    <div class="cat" *ngFor="let food of itemsList">
      <ion-button shape="round" color="light">
        {{food.name}}
      </ion-button>
    </div>

    <!-- <div class="cat">
      <ion-button shape="round" color="light">
        Salads
      </ion-button>
    </div>

    <div class="cat">
      <ion-button shape="round" color="light">
        Burgers
      </ion-button>
    </div>

    <div class="cat">
      <ion-button shape="round" color="light">
        Pizza
      </ion-button>
    </div> -->
  </div>

  <ion-grid>
    <ion-row *ngFor="let item of itemsList">
      <ion-col>
        <ion-card class="item">
          <div class="image-box">
            <ion-img [src]="item.image"></ion-img>
          </div>
          <div class="item-info">
            <ion-text class="item-title">{{item.name}}</ion-text><br>
            <ion-text class="item-desc">{{item.description}}</ion-text><br>
            <ion-text class="item-price">R{{item.price}}</ion-text>
          </div>
          <div class="item-buttons">
            <ion-button shape="round" size="small" color="light" (click)="addItem(item)">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
            <ion-button shape="round" size="small" color="light" (click)="deleteItem(item)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-card class="item">
          <div class="image">

          </div>
          <div class="item-info">
            <ion-text class="item-title">Item</ion-text><br>
            <ion-text class="item-desc">desc</ion-text><br>
            <ion-text class="item-price">R9.99</ion-text>
          </div>
          <div class="item-buttons">
            <ion-button shape="round" size="small" color="light">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row> -->
    
  </ion-grid>



  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button routerLink="/home/cart">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Cart</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->

</ion-content>
