.sideway-scroll {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    padding-top: 10px;
}
  
.cat {
    display: inline;
    width: 20px;
}

.item {
    height: 340px;
}

.image-box {
    max-height: 200px;
    background: rgb(189, 189, 189)
}

.image {
    margin: 0;
    padding: 0;
    max-width: 100%; 
    max-height: 200px;
}

.item-info {
    padding: 10px;
}

.item-title {
    font-size: 26px;
    /*color: #888585;*/
    font-weight: bold;
}

.item-desc {
    font-size: 20px;
    color: gray;
    font-weight: 600;
}

.item-price {
    font-size: 20px;
    font-weight: 900;
}

.item-buttons {
    padding-left: 10px;
}

.background {
    margin: 0;
    background-color: rgba(88, 88, 88, 0.158);
}

.name {
    padding: 16px;
    font-size: 20px;
    font-weight: 900;
}