<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-icon size="large" name="fast-food-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="name">Items</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/shop/cart">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge>{{cartService.getCartCount()}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <div *ngIf="!itemsList" class="no-connect">
    <ion-spinner color="tertiary"></ion-spinner>
  </div>

  <div *ngIf="itemsList" class="sideway-scroll">
    <div class="cat">
      <ion-button shape="round" color="tertiary" strong="true" (click)="getItems()">
        All
      </ion-button>
    </div>

    <div class="cat" *ngFor="let food of itemsList">
      <ion-button shape="round" color="tertiary" strong="true" (click)="filter(food.name)">
        {{food.name}}
      </ion-button>
    </div>
  </div>

  <!-- #START -> TESTING -->
  <!-- <ion-card class="item" color="secondary">
    <div class="image-box">
      <ion-img class="image" src="./../../../assets/burger+chips.jpeg"></ion-img>
    </div>
    <div class="item-info">
      <ion-text class="item-title" color="tertiary">name</ion-text><br>
      <ion-text class="item-desc">description</ion-text><br>
      <ion-text class="item-price">R 9.99</ion-text>
    </div>
    <div class="item-buttons">
      <ion-button shape="round" size="small" color="tertiary">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" size="small" color="tertiary">
        <ion-icon name="remove-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-card>
  <ion-card class="item" color="secondary">
    <div class="image-box">
      <ion-img class="image" src="./../../../assets/pasta.jpeg"></ion-img>
    </div>
    <div class="item-info">
      <ion-text class="item-title" color="tertiary">name</ion-text><br>
      <ion-text class="item-desc">description</ion-text><br>
      <ion-text class="item-price">R 9.99</ion-text>
    </div>
    <div class="item-buttons">
      <ion-button shape="round" size="small" color="tertiary">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" size="small" color="tertiary">
        <ion-icon name="remove-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-card>
  <ion-card class="item" color="secondary">
    <div class="image-box">
      <ion-img class="image" src="./../../../assets/salads.jpeg"></ion-img>
    </div>
    <div class="item-info">
      <ion-text class="item-title" color="tertiary">name</ion-text><br>
      <ion-text class="item-desc">description</ion-text><br>
      <ion-text class="item-price">R 9.99</ion-text>
    </div>
    <div class="item-buttons">
      <ion-button shape="round" size="small" color="tertiary">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" size="small" color="tertiary">
        <ion-icon name="remove-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-card> -->
  <!-- #ENDING -> TESTING-->

  <ion-grid>
    <ion-row *ngFor="let item of itemsList">
      <ion-col>
        <!-- <div class="image-box"> -->
          <!-- <ion-img class="image" [src]="item.image"></ion-img> -->
        <!-- </div> -->
        <ion-card class="item" color="secondary">
          <div class="image-box">
            <ion-img class="image" [src]="item.image"></ion-img>
          </div>
          <div class="item-info">
            <ion-text class="item-title" color="tertiary">{{item.name}}</ion-text><br>
            <ion-text class="item-desc">{{item.description}}</ion-text><br>
            <ion-text class="item-price">R{{item.price}}</ion-text>
          </div>
          <div class="item-buttons">
            <ion-button shape="round" size="small" color="tertiary" (click)="addItem(item)">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
            <ion-button shape="round" size="small" color="tertiary" (click)="deleteItem(item)">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    
  </ion-grid>

</ion-content>
