<ion-menu side="start" menuId="adminMenu" contentId="main">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Admin</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeMenu()">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="openAddItem()" detail>
        <ion-icon name="add-outline"></ion-icon>Add Item
      </ion-item>
      <ion-item (click)="openViewItems()" detail>
        <ion-icon name="bar-chart-outline"></ion-icon>View Items
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="name">Admin</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-icon size="large" name="log-out-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-card *ngIf="showAdd == true" class="section">
    <div>
      <ion-title class="name">Add Item</ion-title>

      <ion-card>
      <form [formGroup]="addForm">
        <ion-item>
          <ion-label position="stacked"><strong>Item</strong></ion-label>
          <ion-input formControlName="item" pattern="[a-zA-Z\s]+" placeholder="e.g Bread"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked"><strong>Description</strong></ion-label>
          <ion-input formControlName="description" pattern="[a-zA-Z\s]+" placeholder="e.g whole wheat bread"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked"><strong>Price</strong></ion-label>
          <ion-input formControlName="price" type="number" min="1.00" step="0.01" placeholder="e.g 12.99"></ion-input>
        </ion-item>

        <ion-item>
          <div class="button-wrap">
            <label class ="new-button" for="upload-image">Choose Image</label>
            <input formControlName="img" id="upload-image" type="file" (change)="uploadFile($event)">
          </div>
        </ion-item>
        <ion-item>
          <ion-progress-bar color="primary" value="{{uploadPercent | async}}"></ion-progress-bar>
        </ion-item>

        <ion-button color="tertiary" expand="full" (click)="uploadItem(addForm)"
              [disabled]="addForm.invalid">
          Add
        </ion-button>

      </form>
      </ion-card>

    </div>
  </ion-card>

  <ion-card *ngIf="showView == true" class="section">
    <ion-title class="name">View Items</ion-title>

      <ion-card>
        <ion-item *ngFor="let item of itemsList">
          <ion-thumbnail slot="start">
            <img [src]="item.image">
          </ion-thumbnail>
          <ion-label>
            <h3 class="item-title">{{item.name}}</h3>
            <p>{{item.description}}</p>
            <p>R {{item.price}}</p>
            <p>
              <ion-button color="tertiary" (click)="deleteItem(item.no, item.image)">
                <ion-icon name="trash-outline"></ion-icon>Delete Item
              </ion-button>
            </p>
          </ion-label>
        </ion-item>

      </ion-card>
  </ion-card>

</ion-content>
