.name {
    padding: 16px;
    font-size: 20px;
    font-weight: 900;
}

.personal-heading {
    font-size: 22px;
    font-weight: 600;
    text-align: right;
}

.box {
    margin: 10px;
    padding: 10px;
    height: 100%;
    background: rgb(224, 224, 224);
    border-radius: 4px;
}