<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content ion-padding">

    <div class="item ion-padding-bottom">
      <div class="image">
        <ion-card class="card-img">
          
        </ion-card>
        
      </div>
      <div class="info">
        <ion-title>Item</ion-title>
        <ion-text class="ion-padding">
          blah blah blah
        </ion-text>
        <ion-button shape="round">
          -
        </ion-button>
        <ion-button shape="round">
          +
        </ion-button>
      </div>
    </div>

    

    <ion-button expand="full" shape="round">
      pay
    </ion-button>

  </div>

</ion-content>
