<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-icon size="large" name="fast-food-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="name">
      Cart
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/shop/cart">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge>{{cartService.getCartCount()}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <div class="ion-padding">

    <div *ngIf="cartList.length == 0">
      <ion-button expand="block" color="tertiary" strong="true" routerLink="/shop/items">
        Continue Shopping
      </ion-button>
    </div>

    <ion-card *ngFor="let item of cartList" class="item" color="secondary">
      <div class="item-image">
        <ion-img class="image" [src]="item.image"></ion-img>
      </div>

      <div class="item-info">
        <ion-text class="item-title" color="tertiary">{{item.name}} x {{item.quantity}}</ion-text><br>
        <ion-text class="item-desc">{{item.desc}}</ion-text><br>
        <ion-text class="item-price">R{{item.price}}</ion-text><br>
        <ion-button size="small" color="tertiary" (click)="removeItem(item)">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" color="tertiary" (click)="addItem(item)">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" color="tertiary" (click)="removeItems(item)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
    
    <div *ngIf="cartList.length > 0">
      <ion-button expand="block" color="tertiary" (click)="clear()">
        <ion-icon name="trash-outline"></ion-icon>Clear Items
      </ion-button>
      <ion-button expand="block" color="tertiary" (click)="order()">
        Place Order R{{cartService.getCartPrice()}}
      </ion-button>
    </div>

  </div>

</ion-content>
