<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content ion-padding">

    <div class="item ion-padding-bottom">
      <div class="image">
        <ion-card class="card-img">
          
        </ion-card>
        
      </div>
      <div class="item-info">
        <ion-text class="item-title">Item x 1</ion-text><br>
        <ion-text class="item-desc">desc</ion-text><br>
        <ion-text class="item-price">R9.99</ion-text><br>
        <ion-button size="small" color="light">
          -
        </ion-button>
        <ion-button size="small" color="light">
          +
        </ion-button>
        <ion-button size="small" color="light">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </div>

    
    <ion-button expand="full" color="light" (click)="order()">
      Place Order R9.99
    </ion-button>

  </div>

</ion-content>
