.sideway-scroll {
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  margin: 5px;
}

.cat {
  display: inline;
  width: 20px;
}

.headings {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

.headings span{
  float: right;
}