<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="headings">
    <ion-title>Categories</ion-title>
  </div>
  
  <div class="sideway-scroll">
    <div class="cat">
      <ion-button shape="round">
        00
      </ion-button>
      <ion-button shape="round">
        00
      </ion-button>
      <ion-button shape="round">
        00
      </ion-button>
      <ion-button shape="round">
        00
      </ion-button>
      <ion-button shape="round">
        00
      </ion-button>
      <ion-button shape="round">
        00
      </ion-button>
      <ion-button shape="round">
        00
      </ion-button>
      <ion-button shape="round">
        00
      </ion-button>
      <ion-button shape="round">
        00
      </ion-button>
    </div>
  </div>

  <div class="headings">
    <ion-title>Categories</ion-title>
  </div>


  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="cart">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Cart</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
  
</ion-content>
