<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-icon size="large" name="fast-food-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="name">The Bite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  
  <div *ngIf="itemList" class="sideway-scroll">

    <div>
      <ion-title class="headings">Food</ion-title>
    </div>

    <div class="cat">
      <ion-button shape="round" color="tertiary" strong="true" routerLink="/shop/items">
        All
      </ion-button>
    </div>

    <div class="cat" *ngFor="let food of itemList">
      <ion-button shape="round" color="tertiary" strong="true" routerLink="/shop/items">
        {{food.name}}
      </ion-button>
    </div>
  </div>

  <div *ngIf="itemList; else loading">
    <div>
      <ion-title class="headings">
        Recent<span class="expand" routerLink="/shop/items">See more...</span>
      </ion-title>
    </div>

    <div>
      <div class="catbox" *ngFor="let item of itemList">
          <ion-card>
            <ion-img [src]="item.image" style="max-width: 100%; max-height: 100%;"></ion-img>
          </ion-card>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="no-connect">
      <ion-spinner color="tertiary"></ion-spinner>
    </div>
  </ng-template>
  
</ion-content>
