.personal {
    margin: 10px;
    padding: 10px;
    height: 100%;
    background: rgb(224, 224, 224);
    border-radius: 4px;
}

.personal-heading {
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    text-align: right;
}

.history {
    margin: 10px;
    padding: 10px;
    height: 100%;
    background: rgb(224, 224, 224);
    border-radius: 4px;
}